
.topnav {
  text-align: right;
  padding-top: 2%;
  padding-right: 0;
  padding-bottom: 2%;
  width: 70%;
  float: right;
  border-bottom-style: solid;
  border-bottom-color: #4d0404;
}



body {
    font-family: "Arvo",serif;
    font-size: 15px;
    color: black;
    background-color: #f2f1f1;
}



.wrapper {
  padding-right: 5%;
}

#rightlink {
  padding: 2%;
}
/* Style the links inside the navigation bar */
.topnav a {
  color: #C8C8C8;
  text-align: right;
  text-decoration: none;
  font-family: "Arvo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  padding-top: 10%;
  padding-right: 8%;
}

.mainlogo {
  padding-left: 2%;
  padding-top: 2%;
  width: 10%;
  float: left;
}


#navigationdiv {
  border-style: solid;
  border-color: red;
}

#rightlinkactive {
  color: #4d0404;
  font-weight: bold;
  padding: 2%;
}

#active {
  color: #4d0404;
  font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: #4d0404;
  font-weight: bold;
  text-decoration: none;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: #4d0404;
}


/* This is the start of all CSS for the main page */
.empty {
  height: 100px;
}

.namecontainer{
  height: 100%;
  align-self: center;
  position: relative;
  width: 100%;
  background-color: white;
  margin: auto;
}

.namecontainer canvas {
    position: relative;
    display: block;
    align-self: center;
    margin: auto;
}

.description p {
  font-size: 15px;
  font-family: "Arvo", serif;
  font-weight: normal;
}
.wrapper1 {
  padding-top: 6%;
  width: 70%;
  align-self: center;
  margin: auto;
  text-align: center;
  height: 600px;
}
.description {
  float: right;
  width: 40% ;
  padding-right:2%;
  padding-top: 1%;
  text-align: center;
}

.aligncenter {
  text-align: center;
}

#intro {
  border-width: 10px;
  border-style: solid;
  border-color: #4d0404;
  width: 80%;
  margin:auto;
}
#Prof {
  align-self: center;
  font-size: 20px;
  font-family: Arvo;
  font-weight: normal;
  color: #4d0404;
}

.Link {
  padding-top: 10%;
  align-self: center;
  margin: auto;
  width: 60%;
}

.divider {
  height: 50px;
}
.picturediv {
  background-color: black;
  text-align:center;
}

.picturediv img {
  width: 80%;
}
/* All the css we will use for the Work Tab */
.col-md-4.title {
  text-align: center;
  color: #4d0404;
}

.col-md-4.mar {
  background-color: #4d0404;
  align-self: center;
  color: #C8C8C8;
}
.col-md-4.grey {
  background-color: #C8C8C8;
  color: #4d0404;
  align-self: center;
}

.col-md-3.workgrid {
    text-align: center;
}

.workgrid {
    /*background-color: #C8C8C8;
    border-style: solid;
    padding-top: 7px;
    border-radius: 10px;
        */
    height: 300px;
    padding-right: 5%;
}

.greyborder { 
    border-style: solid;
    border-color: #C8C8C8;
    border-width: 2px;
    border-radius: 10px;
}


.workelemimg { 
    text-align:center;
}
.workelemimg img {
    width: 100%;
    border-radius: 10px;
}

.topmargin7 { 
   margin-top: 7px;
}

.topmargin14 {
    margin-top: 14px;
}

.workgrid:hover {
    transform: scale(1.1);
}

.workelemtext {
    /*background-color: #C8C8C8;*/
    /*border-style: solid;*/
    font-weight: lighter;
    font-size: 14px;
    text-justify:auto;
    text-align: justify;
    border-radius: 10px;
}

.workelemtext h3 { 
    color: #4d0404;
    text-align:center;
    font-weight: bolder;
    font-size: 20px;
}

.workheader { 
    text-decoration: none; 
    color: #4d0404;
    font-size: 30px;
    padding-bottom: 1%;
    text-align:center;
    border-bottom-style:solid;
    border-bottom-color: #4d0404;
}

.maroonborder {
    border-style: solid;
    border-color: #4d0404;
    border-width: 2px;
    border-radius: 10px;
}


/* This is the css for the blog*/
.announcement { 
    text-align: center;
    font-weight: bolder;
    border-style: solid;
    width: 50%;
    align-self:center;
    margin:auto;
}


/* This is the css style for the footer */
footer {
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: #32768F;
  height: 80px;
  font-size: 15px;
  font-weight: lighter;
  padding-top:1%;
  color: #32768F;
  text-align:center;
}

footer a, i{
  font-size: 10px;
  padding-left: 2.5%;
}
