html {
    scroll-behavior: smooth;
}

/* This styles the navigation bar*/
.topnav {
    text-align: right;
    padding-top: 2%;
    padding-right: 0;
    padding-bottom: 2%;
    width: 70%;
    float: right;
    border-bottom-style: solid;
    border-bottom-color: #c42a19;
}

/* This contains the logo */
.navcontainer { 
    background-color: #fdfdfd;
}
/* This is additional styling of the navbar */
.navbar { 
    width: 100%;
    background: black;
    margin-right: 0;
    padding-right: 0px;
}

/* The main styling of the body*/
body {
    font-family: "Arvo",serif;
    font-size: 15px;
    color: black;

    background-color: #fdfdfd;
}

header { 
    width: 100%;
}

/* An alternate background color, mainly for the body*/
.white { 
    background-color: azure;
    color:darkslategray;
}
/* Styling for the list elements*/
li {
    padding-top: 5%;
    text-align: justify;
}
/* Adding additionl padding */
.wrapper {
  padding-right: 5%;
}
/* Meant to style the right most link in the navbar*/
#rightlink {
  padding: 2%;
}
/* Style the links inside the navigation bar */
.topnav a {
  color: #C8C8C8;
  text-align: right;
  text-decoration: none;
  font-family: "Arvo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  padding-top: 10%;
  padding-right: 9%;
}

/* Styles the fluid container of the navbar*/
.topnavigation { 
    background-color: inherit;;
    padding-right: 3%;
    padding-bottom: 2px;
}

/*This styles the actual logo*/
.mainlogo {
  padding-left: 2%;
  padding-top: 1.25%;
  width: 10%;
  float: left;
}

/* This styles the active and rightmost link*/
#rightlinkactive {
  color: #4d0404;
  font-weight: bold;
  padding: 2%;
}
/* The link that is active on the page at the moment*/
#active {
    color: #c42a19;
    font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #c42a19;
    font-weight: bold;
    text-decoration: none;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: #de5954;
}


/* This is the start of all CSS for the main page */
.empty {
  height: 100px;
}

/* This is the container for the main animation*/
.namecontainer{
  height: 100%;
  align-self: center;
  padding-bottom: 4%;
  position: relative;
  width: 100%;
  background-color: white;
  margin: auto;
}

/* The modification for the canvas element*/
.namecontainer canvas {
    position: relative;
    display: block;
    align-self: center;
    margin: auto;
}

/* The overall styling for the paragraph container*/

/* A general class for text alignment*/
.aligncenter {
  text-align: center;
}

/* General Link class*/
.Link {
  padding-top: 6%;
  align-self: center;
  margin: auto;
  width: 60%;
}
/* Empty spacer divider*/
.divider {
  height: 50px;
}
/* General div setting for pictures*/
.picturediv {
  background-color: black;
  text-align:center;
}
/* Setting for images in general div setting*/
.picturediv img {
  width: 80%;
}
/* General coloring current setting*/
.coloring1 {
    background-color: #c42a19;
}

.coloring2 { 
    background-color: lightgrey;
}
/* General coloring current setting*/
.textcoloring1 {
    color: #c42a19;
}
/* Vertical labeling container*/
.verticallabel {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 60px;
    color: white;
    text-align: center;
    height: 110%;
    width: 1%;
    vertical-align: central;
    padding-right: 11%;
    margin-right: 0 !important;
   
}
/* Accompanying edit for p*/
.verticallabel p {
    color: white;
   
}
/* Modifying column for skinny*/
.mini { 
    margin-right: 0;
    width: 4%;
}
/* Make an im in a div the full size */
.picturedivfull img {
    width: 90%;
    border-style: solid;
    border-width: 8px;
    border-color: black;
    border-radius: 2px;
}

.picturedivfull { 
    text-align: center;
    margin-top: 8%;
}
footer { 
    margin-top: 5%;
}

/* This is a general anouncement divider class*/
.announcement { 
    text-align: center;
    font-weight: bold;
    border-style: double;
    border-color: #c42a19;
    width: 50%;
    padding: 1%;
    align-self:center;
    margin:auto;
}

/* THis is the start of the css for the about page*/
/* About image formatting div*/
.aboutimg{ 
    text-align: center;
    padding-top: 4%;
}
/* IMage in the about image formatting*/
.aboutimg img{ 
    border-style: solid;
    border-radius: 30px;
    width: 60%;
}
/* About text paragraph formatting*/
.abouttext p{ 
    color: black;
    font-size: 12px;
    text-align:justify;
}
/* This is the css style for the footer */
footer {
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: #32768F;
  height: 50px;
  width: 100%;
  font-size: 15px;
  font-weight: lighter;
  color: black;
  text-align:center;
  padding-bottom: 1%;
}

/* formatting links and the icons */
footer a, i{
  font-size: 10px;
  padding-left: 2.5%;
  color: #32768F;
}

