
/* This styles the navigation bar*/
.topnav {
    text-align: right;
    padding-top: 2%;
    padding-right: 0;
    padding-bottom: 2%;
    width: 70%;
    float: right;
    border-bottom-style: solid;
    border-bottom-color: #c42a19;
}
/* This contains the logo */
.navcontainer { 
    background-color: #fdfdfd;
}
/* This is additional styling of the navbar */
.navbar { 
    width: 100%;
    background: black;
    margin-right: 0;
    padding-right: 0px;
}

/* The main styling of the body*/
body {
    font-family: "Arvo",serif;
    font-size: 15px;
    color: black;
    background-color: #fdfdfd;
}

/* An alternate background color, mainly for the body*/
.white { 
    background-color: azure;
    color:darkslategray;
}
/* Styling for the list elements*/
li {
    padding-top: 8%;
}
/* Adding additionl padding */
.wrapper {
  padding-right: 5%;
}
/* Meant to style the right most link in the navbar*/
#rightlink {
  padding: 2%;
}
/* Style the links inside the navigation bar */
.topnav a {
  color: #C8C8C8;
  text-align: right;
  text-decoration: none;
  font-family: "Arvo", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  padding-top: 10%;
  padding-right: 9%;
}

/* Styles the fluid container of the navbar*/
.topnavigation { 
    background-color: #fdfdfd;
    padding-bottom: 10px;
    padding-right: 3%;
}

/*This styles the actual logo*/
.mainlogo {
  padding-left: 2%;
  padding-top: 1.25%;
  width: 10%;
  float: left;
}

/* This styles the active and rightmost link*/
#rightlinkactive {
  color: #4d0404;
  font-weight: bold;
  padding: 2%;
}
/* The link that is active on the page at the moment*/
#active {
    color: #c42a19;
    font-weight: bold;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #c42a19;
    font-weight: bold;
    text-decoration: none;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: #de5954;
}


/* This is the start of all CSS for the main page */
.empty {
  height: 100px;
}

/* This is the container for the main animation*/
.namecontainer{
  height: 100%;
  align-self: center;
  position: relative;
  width: 100%;
  background-color: white;
  margin: auto;
}

/* The modification for the canvas element*/
.namecontainer canvas {
    position: relative;
    display: block;
    align-self: center;
    margin: auto;
}

/* The adjustments for the paragraph on the main page*/
.description p {
  font-size: 15px;
  font-family: "Arvo", serif;
  font-weight: normal;
}
/* The overall styling for the paragraph container*/
.description {
  float: right;
  width: 40% ;
  padding-right:2%;
  padding-top: 1%;
  text-align: center;
}
/* A general class for text alignment*/
.aligncenter {
  text-align: center;
}
/* Container for the photo on index.html*/
#intro {
    border-width: 10px;
    border-style: solid;
    border-color: black;
    width: 80%;
    margin: auto;
}
/* ID for Professional Summary link*/
#Prof {
  align-self: center;
  font-size: 20px;
  font-family: Arvo;
  font-weight: normal;
  color: #cf2d21;
}
/* General Link class*/
.Link {
  padding-top: 10%;
  align-self: center;
  margin: auto;
  width: 60%;
}
/* Empty spacer divider*/
.divider {
  height: 50px;
}
/* General div setting for pictures*/
.picturediv {
  background-color: black;
  text-align:center;
}
/* Setting for images in general div setting*/
.picturediv img {
  width: 80%;
}
/* General coloring current setting*/
.coloring1 {
    background-color: #c42a19;
}

.coloring2 { 
    background-color: lightgrey;
}
/* General coloring current setting*/
.textcoloring1 {
    color: #c42a19;
}
/* Vertical labeling container*/
.verticallabel {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 60px;
    color: white;
    text-align: center;
    height: 110%;
    width: 1%;
    vertical-align: central;
    padding-right: 11%;
    margin-right: 0 !important;
   
}
/* Accompanying edit for p*/
.verticallabel p {
    color: white;
   
}
/* Modifying column for skinny*/
.mini { 
    margin-right: 0;
    width: 4%;
}
/* Make an im in a div the full size */
.picturedivfull img {
    width: 100%;
}
/* All the css we will use for the Work Tab */

/* Contains the labels and buttons for work */
.col-md-4.title {
  text-align: center;
  color: #c42a19;
  margin: 0;
  padding:0;
}

/* backgrounds of the elements*/
.workback {
    background: rgb(253,253,253);
}
/* Maroon colored columns*/
.col-md-4.mar {
  background-color: #4d0404;
  align-self: center;
  color: #C8C8C8;
}
/* Grey colored columns*/
.col-md-4.grey {
  background-color: #C8C8C8;
  color: #4d0404;
  align-self: center;
}

/* Styling the individual elements in the page*/
.workgrid {
    /*background-color: #C8C8C8;
    border-style: solid;
    padding-top: 7px;
    border-radius: 10px;
        */
    height: 300px;
    padding-left: 3%;
    padding-right: 3%;
    color: grey;
}

/* Right most element of the grid*/
.workgrid.right {
    padding-right: 4%;
}
/* Left most element of the grid*/
.workgrid.left {
    padding-left:4%;
}
/* A grey border*/
.greyborder { 
    border-style: solid;
    border-color: #C8C8C8;
    border-width: 2px;
    border-radius: 10px;
}

/* The element in the work element*/
.workelemimg { 
    text-align:center;
}
/* The img within the above container*/
.workelemimg img {
    width: 100%;
    border-radius: 10px;
}
/* Adjusting the top margin*/
.topmargin7 { 
   margin-top: 7px;
}
/* Adjusting the top margin*/
.topmargin14 {
    margin-top: 14px;
}

.workgrid:hover {
    transform: scale(1.1);
    color: black;
}


.workelemtext {
    /*background-color: #C8C8C8;*/
    /*border-style: solid;*/
    font-weight: lighter;
    font-size: 14px;
    text-justify:auto;
    color: inherit;
    text-align: justify;
    border-radius: 10px;
}

.workelemtext h3 { 
    color: #c42a19;
    text-align:center;
    font-weight: bolder;
    font-size: 20px;
}

.workheader {
    text-decoration: none;
    color: #c42a19;
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 1%;
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: #c42a19;
}


.maroonborder {
    border-style: solid;
    border-color: #4d0404;
    border-width: 2px;
    border-radius: 10px;
    
}

/* This is the start of the css for the blog*/
.blogelement {

    padding-top: 0;
    background-color: white;
}

.blogsett { 
    margin: 0;
    padding: 0;
}

.blogsett.topmargin14{ 
    margin-top: 14px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
}

.blogheader {
    background-color: #dae1e3;
    color: #c42a19;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    margin-top: 0;
    padding-bottom: 10px;
}

.blogheader h3 { 
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
}

.bloglist  { 
    border-color: #c42a19;
    border-style: double;
    border-width: 2px;
    text-align: center;
    list-style-type: none;
   
}

.blogcontent {
    border-color: #c42a19;
    border-style: double;
    border-width: 2px;
    padding: 3%;
}

/* This is a general anouncement divider class*/
.announcement { 
    text-align: center;
    font-weight: bold;
    border-style: double;
    border-color: #c42a19;
    width: 50%;
    align-self:center;
    margin:auto;
}

/* THis is the start of the css for the about page*/
/* About image formatting div*/
.aboutimg{ 
    text-align: center;
    padding-top: 4%;
}
/* IMage in the about image formatting*/
.aboutimg img{ 
    border-style: solid;
    border-radius: 30px;
    width: 60%;
}
/* About text paragraph formatting*/
.abouttext p{ 
    color: grey;
    font-size: 12px;
    text-align:justify;
}
/* This is the css style for the footer */
footer {
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: #32768F;
  height: 80px;
  font-size: 15px;
  font-weight: lighter;
  padding-top:1%;
  color: #32768F;
  text-align:center;
}

/* formatting links and the icons */
footer a, i{
  font-size: 10px;
  padding-left: 2.5%;
}
