
@font-face {
  font-family: Arvo;
  src: url("fonts/Arvo/Arvo-Regular.ttf");
}

.btn-primary {
    background: rgb(196,42,25);
    background: radial-gradient(circle, rgba(196,42,25,1) 7%, rgba(218,141,141,1) 73%);
    border-color: black;
    border-width: 0px;
    color: black;
    border-radius: 0;
}

.btn-secondary {
    background-color: black;
    border-radius:0px;
}
.btn-primary:hover {
  background-color: black;
  color: white;
  
}

.btn:focus {
    background: #C8C8C8;
    border-color: black;
    outline: none;
}
#Animation1 {
    background-color: #fdfdfd;
    align-self: center;
    height: 370px;
}
/*
#Animation1:hover { 
    background-color:white;
}
 */
.namecontainer {
    background-color: #fdfdfd;
}
   
