
@font-face {
  font-family: Arvo;
  src: url("fonts/Arvo/Arvo-Regular.ttf");
}

.btn {
    background-color: #4d0404;
    border-color: black;
    border-width: 2px;
    color: white;
}

.btn:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.btn:focus {
    background-color: #C8C8C8;
    border-color: black;
    outline: none;
}
#Animation1 {
    background-color: #eceaea;
    align-self: center;
    height: 370px;
}
/*
#Animation1:hover { 
    background-color:white;
}
 */
.namecontainer {
    background-color: #eceaea;
}
   
