
@font-face {
  font-family: Arvo;
  src: url("fonts/Arvo/Arvo-Regular.ttf");
}

.btn-primary {
    background: rgb(25,182,209);
    background: radial-gradient(circle, rgba(25,182,209,1) 0%, rgba(230,243,243,1) 100%);
    border-color: black;
    border-width: 0px;
    color: black;
    border-radius: 0;
}

.btn-secondary {
    background-color: black;
    border-radius:0px;
}
.btn:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.btn:focus {
    background-color: #C8C8C8;
    border-color: black;
    outline: none;
}
#Animation1 {
    background-color: #fdfdfd;
    align-self: center;
    height: 370px;
}
/*
#Animation1:hover { 
    background-color:white;
}
 */
.namecontainer {
    background-color: #fdfdfd;
}
   
