/* All the css we will use for the Work Tab */
/* Contains the labels and buttons for work */
.col-md-4.title {
    text-align: center;
    margin: 0;
    padding:2%;
}

  /* backgrounds of the elements*/
.workback {
    background:inherit;
    border-style: none;
    padding-right: 5%;
    padding-left: 5%;

}
/* Maroon colored columns*/
.col-md-4.mar {
    background-color: #4d0404;
    align-self: center;
    color: #C8C8C8;
}
/* Grey colored columns*/
.col-md-4.grey {
    background-color: #C8C8C8;
    color: #4d0404;
    align-self: center;
}

/* Styling the individual elements in the page*/
.workgrid {
    /*background-color: #C8C8C8;
    border-style: solid;
    padding-top: 7px;
    border-radius: 10px;
        */
    height: 200px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    margin-bottom: 4%;
    color: grey;
}

/* Right most element of the grid*/
.workgrid.right {
    padding-right: 1%;
}
/* Left most element of the grid*/
.workgrid.left {
    padding-left:1%;
}
/* A grey border*/
.greyborder { 
    border-style: solid;
    border-color: #C8C8C8;
    border-width: 2px;
    border-radius: 10px;
}

.goldborder { 
    border-style: solid;
    border-color: rgb(179, 137, 1);
    border-width: 2px;
    border-radius: 10px;
}

.greenborder { 
    border-style: solid;
    border-color: rgba(18, 58, 18, 0.486);
    border-width: 2px;
    border-radius: 10px;
}

.blackborder { 
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}

/* The element in the work element*/
.workelemimg { 
    text-align:center;
    font-family: 'Work Sans', sans-serif;
}
/* The img within the above container*/
.workelemimg img {
    width: 100%;
    border-radius: 10px;
}
/* Adjusting the top margin*/
.topmargin7 { 
    margin-top: 7px;
}
/* Adjusting the top margin*/
.topmargin14 {
    margin-top: 14px;
}

.workgrid:hover {
    transform: scale(1.1);
    color: black;
}


.workelemtext {
    font-weight: lighter;
    font-size: 14px;
    text-justify:auto;
    color: #0b4269;
    text-align: center;
    border-radius: 10px;
}

.workelemtext h3 { 
    
    font-weight: normal;
    font-size: 20px;
    margin-top: 2%;
    color: #0e4166;
    margin-bottom: 1%;
}

.tooler .toolish { 
    visibility: hidden;
    padding: 6%;
    font-size: 13px;
    position: absolute;
    text-align: justify;
    color: black;
    width: 95%;
    height: 95%;
    bottom: 1%;
    padding-top: 5%;
    left: 4.5%;
}

.tooler:hover .toolish { 
    visibility: visible;
}

.tooler:hover img { 
    visibility: hidden;
    
}

.tooler:hover {
    border-style: none;
}


.workheader {
    text-decoration: none;
    /* color: #1991e6; */ 
    color: black;
    font-size: 30px;
    margin-bottom: 2%;
    padding-bottom: 1%;
    text-align: center;
    border-bottom-style: solid;
    /* border-bottom-color: #c42a19; */
    border-bottom-color: grey; 
    margin-top: 4%;
    
}


.maroonborder {
    border-style: solid;
    border-color: #4d0404;
    border-width: 2px;
    border-radius: 10px;
    
}
